@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Flame';
  /* Полный урл нужен для корректной загрузки шрифта */
  src: url('@/shared/ui/theme/fonts/Flame-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Flame';
  /* Полный урл нужен для корректной загрузки шрифта */
  src: url('@/shared/ui/theme/fonts/Flame-bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rotonda';
  /* Полный урл нужен для корректной загрузки шрифта */
  src: url('@/shared/ui/theme/fonts/Rotonda-medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
